<h1>Changelog</h1>

<h3>version 0.92 - June 5, 2020</h3>

<ul>
<li>Improved an error message when referencing a field that does not exist</li>
</ul>

<h3>version 0.91 - June 2, 2020</h3>

<ul>
<li>Added class info of the field type to obj.explain() data</li>
</ul>

<h3>version 0.9 - May 19, 2020</h3>

<ul>
<li>Added obj.explain() which returns states and metadata about fields</li>
</ul>

<h3>version 0.8 - May 11, 2020</h3>

<ul>
<li>Field code internals modified to support easier subclassing</li>
<li>New field subclasses: <i>Base64</i> and <i>Numeric</i></li>
<li><i>StrictClass</i> no longer sets required=True if a default is explicitly provided as None</li>
</ul>

<h3>version 0.6 - May 4, 2020</h3>

<ul>
<li>added <i>StrictClass</i></li>
</ul>

<h3>version 0.5 - May 4, 2020</h3>

<ul>
<li><i>to_json/from_json</i> and <i>to_yaml/from_yaml</i> added</li>
</ul>

<h3>version 0.4 - May 3, 2020</h3>

<ul>
<li>customizable field serialization</li>
<li>more support for field subclassing</li>
</ul>

<h3>version 0.3 - May 1, 2020</h3>

<ul>
<li><i>on_init</i> hooks</li>
</ul>

<h3>version 0.2 - May 1, 2020</h3>

<ul>
<li>required and hidden fields<li>
<li>remap serialization</li>
<li>improved some <i>ValueError</i> messages</li>
</ul>

<h3>version 0.1 - April 29, 2020</h3>

<ul>
<li>first release</li>
<li>type checking, non-nullable types, defaults, immutable fields, choices, custom accessors/mutators, <i>to_dict/from_dict</i> ...</li>
</ul>

