<h1>Fields</h1>

Classforge allows custom subclassing of the Field class mentioned in the prior examples (see {{ doc('usage') }}), and
is accumulating a growing list of 'standard library' field subclasses that come with the classforge.

Contributions of new field types are welcome (see {{ doc('contributing') }}).

<!-------------------------------------------------------------------------------------------------------------->

{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------->

{{ section("Subclassing Field") }}

<p>
Field source looks like this:
</p>

{{ begin_code(language='python') }}class Base64(Field):

    def __init__(self, **kwargs):
        kwargs['type'] = str
        super(Base64Field, self).__init__(**kwargs)

    def field_access(self, value):
        # changes the value before accessing
        return value

    def field_mutate(self, value):
        # changes the value before storing
        return value

    def field_encode(self, value, remap_name=None):
        return base64.b64encode(bytes(value, 'utf-8'))

    def field_decode(self, value, remap_name=None):
        return str(base64.b64decode(value), 'ascii')
{{ end_code() }}

<p>
The <i>field_access</i> and <i>field_mutate</i> methods are called the value is accessed or set, respectably. They
may raise ValueError to reject inputs or decide to return or save a value different from what is passed in.
</p>

<p>
The <i>field_encode</i> and <i>field_decode</i> methods are used when serializing the object.
</p>

{{ begin_info_block() }}
Reading through the Field subclasses source code, beyond strictly consulting this guide, is recommended. In particular
some classes will pass only certain values back to the Field constructor, or may in some cases not allow
certain parameters of Field to be accepted.  It is for this reason that the implementation of <i>Field</i> subclasses
does not always leverage <i>kwargs</i>, despite the internal code quality advantages of doing so.
{{ end_info_block() }}

<!--------------------------------------------------------------------------------------------------------------->

{{ section("Base64") }}

<p>
Base64Field trivially encodes fields in the input during serialization.  This is only really sufficient to mask
'lightly sensitive' data from logs, and should not be considered a security feature.  This class also makes
a simple demo of how to achieve custom serialization by a field class, and is mostly included in <i>ClassForge</i>
for that reason.
</p>

{{ begin_code(language='python') }}class Base64Demo(Class):

    x = Base64()

obj = Example(x='Happy Birthday!')
data = obj.to_dict()
assert data['x'] == b'SGFwcHkgQmlydGhkYXkh'
{{ end_code() }}

<!--------------------------------------------------------------------------------------------------------------->

{{ section("Numeric") }}

<p>
Numeric is a multi-featured type that can perform automatic rounding and range checking.
</p>

{{ begin_code(language='python') }}class NumericDemo(Class):

    x = Numeric(type=float, places=5, min=-100, max=100, inclusive=True, fold=True)
    y = Numeric(type=int, default=3000)
    z = Numeric(type=int, places=0)

num = NumericDemo(x=5.2, y=6.6, z=6.6) # x gets 5.2, y gets 6, z gets *7*
{{ end_code() }}

<h3>Parameters</h3>

<table border=1 cellpadding=10>

<tr>
<th>name</th>
<th>type</th>
<th>description</th>
</tr>

<tr>
<td>type</td>
<td>type</td>
<td>float, int, etc. Default is <b>int</b></td>
</tr>

<tr>
<td>places</td>
<td>int</td>
<td>Round to this many places, if set. The default is <b>None</b>.</td>
</tr>

<tr>
<td>min</td>
<td>numeric</td>
<td>optional: allowable minimum value, behavior varies with <i>fold</i></td>
</tr>

<tr>
<td>max</td>
<td>numeric</td>
<td>optional: allowable minimum value, behavior varies with <i>fold</i></td>
</tr>

<tr>
<td>inclusive</td>
<td>boolean</td>
<td>whether <i>min</i> and <i>max</i> are interpreted inclusively.</td>
</tr>

<tr>
<td>fold</td>
<td>boolean</td>
<td>if a value falls outside the <i>min</i> and <i>max</i> an error will be raised unless fold is <b>True</b>. The default is <b>False</b>.</td>
</tr>

</table>

{{ begin_info_block() }}
To preserve design goals, ClassForge has chosen to not implement fields like IntegerField, NonNegativeIntegerField, PositiveFloatField, and so on.  To implement
such capabilities, set max and min as desired.
{{ end_info_block() }}



